@use "sass:map";

$breakpoints: (
  "tablet": 768px,
  "desktop": 1024px,
  "large": 1200px,
  "wide": 1440px,
);

@mixin mq($width, $type: min) {
  @if map.has-key($breakpoints, $width) {
    $width: map.get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  } @else {
    // To pass a raw value (e.g., "500px")
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
