$breakpoints: (
  "tablet": 768px,
  "desktop": 1024px,
  "large": 1200px,
  "wide": 1440px,
);

// use e.g.:
// @include mq('tablet') {
//     flex-direction: row; // Switch to horizontal
//     padding: 2rem;
//   }
@mixin mq($width, $type: min) {
  @if map-has-key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  } @else {
    // Can pass a raw value (e.g., "500px") instead of a keyword
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
