@use "variables";

%float-panel {
  position: absolute;
  z-index: 1;
  padding: 1rem;
  width: 380px;
}

@mixin float-panel-left {
  @extend %float-panel;
  left: 0;
}

@mixin float-panel-right {
  @extend %float-panel;
  right: 0;
}
