@use "variables";

@mixin full-screen-width-height {
  width: 100vw;
  height: 100vh;
}

@mixin place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-width-height {
  width: 100%;
  height: 100%;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
