@use "variables";

%float-panel {
  position: absolute;
  z-index: 1;
  padding: 1rem;
  width: 380px;
}

@mixin float-panel-left {
  @extend %float-panel;
  padding-bottom: 3.5rem;
  left: 0;
}

@mixin float-panel-right {
  @extend %float-panel;
  right: 0;
}

@mixin full-screen-width-height {
  width: 100vw;
  height: 100vh;
}

@mixin place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-width-height {
  width: 100%;
  height: 100%;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
