@use "variables";

.place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 100%;
  border-bottom: 1px solid variables.$border-color;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &.absolute {
    position: absolute;
    inset: 0 0 0 0;
  }
}
