// variables (e.g. colors)
@use "variables";

// commonn styles (e.g. dashboard-panel)
@use "mixins";

// mobile-first -> tablet -> desktop -> wide
@use "breakpoints";

.place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-horizontal {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.divider {
  width: 100%;
  border-bottom: 1px solid variables.$border-color;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: 900;

  &.absolute {
    position: absolute;
    inset: 0 0 0 0;
  }
}

#cesium-view {
  @include mixins.full-width-height;

  .cesium-viewer .cesium-widget-credits {
    position: absolute !important;
    bottom: 0px !important;
    opacity: 0.5;
    scale: 0.7;
  }

  @include breakpoints.mq("tablet") {
    .cesium-viewer .cesium-widget-credits {
      position: absolute !important;
      bottom: 6px !important;
      left: 6px !important;
      opacity: 0.7;
    }
  }

  @include breakpoints.mq("desktop") {
    .cesium-viewer .cesium-widget-credits {
      position: absolute !important;
      bottom: 6px !important;
      left: 10px !important;
      opacity: 0.7;
    }
  }
}
