// colors
$dashboard-bg-color: #27272aaa;
$dashboard-bg-highlight: #3f3f4677;
$border-color: #3f3f4699;
$accent-color: #f472b6;

// bento
$bento-border-radius: 1.5rem;
$bento-gap: 8px;

// misc
$thin-scrollbar-width: 8px;
