// colors
$dashboard-bg-color: #1f2124;
$dashboard-bg-highlight: #2c2d33;
$dashboard-bg-accent: #35363d;

$border-color: #3f3f4699;

$accent-color: #f472b6;

// bento
$bento-border-radius: 1.5rem;
$bento-gap: 8px;

// misc
$thin-scrollbar-width: 8px;
