// variables (e.g. colors, breaking-points)
@use "variables";

// common scss styles (e.g. .bold, .centered)
@use "utilities";

// common styles (e.g. absolute-positioning, animations)
@use "common";

// common components styles (e.g. dashboard-panel)
@use "components";

#app {
  @include common.full-screen-width-height;
  position: relative;
}

#cesium-view {
  @include common.full-width-height;
  position: absolute;
}

#left-panel {
  @include components.float-panel-left;
  height: 100%;
  width: 400px;

  .content {
    @include components.dashboard-panel;
    width: 100%;
    height: 100%;
  }
}

#right-panel {
  @include components.float-panel-right;
  height: 100%;
  width: 400px;

  .content {
    @include components.dashboard-panel;
    width: 100%;
    min-height: 60%;
  }
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-scroll-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 1rem;
  overflow-y: auto;
}

.sat-card-nearest {
  border: 1px solid variables.$border-color;
  border-radius: 0.4rem;
  padding: 0.8rem 1rem;
}

.sat-card-distant {
  padding: 0.8rem 1rem;
}
