// variables (e.g. colors, breaking-points)
@use "variables";

// common scss styles (e.g. .bold, .centered)
@use "utilities";

// common styles (e.g. absolute-positioning, animations)
@use "common";

// common components styles (e.g. dashboard-panel)
@use "components";

#app {
  @include common.full-screen-width-height;
  position: relative;
}

#cesium-view {
  @include common.full-width-height;
  position: absolute;
}

#left-panel {
  @include components.float-panel-left;
  height: 100%;
}

#right-panel {
  @include components.float-panel-right;
  height: 60%;
}

.panel-content {
  @include common.flex-column;
  gap: variables.$bento-gap;
  width: 100%;

  .panel-content-item {
    width: 100%;

    .panel-content-title {
      padding: 1rem 1.5rem;
    }

    background-color: variables.$dashboard-bg-color;
    border-radius: variables.$bento-border-radius;
  }
}

.sat-primary-list {
  .sat-card-primary {
    display: flex;
    justify-content: space-between;
    border-radius: variables.$bento-border-radius;
    padding: 1.5rem;

    .name {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .measure {
      min-width: 70px;

      .label {
        font-size: 0.75rem;
        opacity: 0.7;
        margin-bottom: 2px;
      }

      .value {
        font-size: 1rem;
        font-weight: 600;
      }

      .unit {
        font-size: 0.7rem;
      }
    }
  }

  .focus {
    background-color: variables.$dashboard-bg-highlight;
  }
}

.observer-input {
  display: flex;
  gap: variables.$bento-gap;
  width: 100%;
  background-color: variables.$dashboard-bg-highlight;
  border-radius: variables.$bento-border-radius;

  .number-input {
    width: 0;
    flex: 1;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: variables.$bento-border-radius;
  }

  label {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.7;
  }

  input {
    color: inherit;
    border: none;
    outline: none;
    width: auto;
    background: none;
    font-weight: 900;
    font-size: 1.2rem;
  }

  .observer-button {
    @include common.place-center;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    border: none;
    outline: none;
    border-radius: variables.$bento-border-radius;
    background-color: variables.$dashboard-bg-highlight;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.05);

    label {
      font-weight: 900;
      color: inherit;
    }
  }
}

.sat-card-secondary {
  display: flex;
  justify-content: space-between;

  .measure {
    min-width: 70px;

    .label {
      font-size: 0.75rem;
      opacity: 0.7;
      margin-bottom: 2px;
    }

    .value {
      font-size: 1rem;
      font-weight: 600;
    }

    .unit {
      font-size: 0.7rem;
    }
  }
}
