// variables (e.g. colors, breaking-points)
@use "variables";

// common scss styles (e.g. .bold, .centered)
@use "utilities";

// common styles (e.g. absolute-positioning, animations)
@use "common";

// common components styles (e.g. dashboard-panel)
@use "components";

#app {
  @include common.full-screen-width-height;
  position: relative;
}

#cesium-view {
  @include common.full-width-height;
  position: absolute;
}

#cesium-minimap-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: variables.$bento-border-radius;
  overflow: hidden;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);

  #cesium-minimap-view {
    position: absolute;
    inset: 0 0 0 0;
  }
}

#left-panel {
  @include components.float-panel-left;
  height: 100%;
}

#right-panel {
  @include components.float-panel-right;
  height: 60%;
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: variables.$bento-gap;
  height: 100%;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1);

  .panel-content-item {
    background-color: variables.$dashboard-bg-color;
    border-radius: variables.$bento-border-radius;
    overflow: hidden;

    .panel-content-title {
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .second-title {
        font-weight: 400;
        min-width: 70px;
        font-size: 0.8rem;
        opacity: 0.7;
      }
    }

    &.max-height {
      flex: 1;
      overflow-y: hidden;
    }
  }
}

.sat-primary-list {
  .sat-primary {
    display: flex;
    justify-content: space-between;
    border-radius: variables.$bento-border-radius;
    padding: 1.5rem;

    .name {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  .focus {
    background-color: variables.$dashboard-bg-highlight;
  }
}

.sat-secondary-list {
  height: 100%;
  overflow-y: auto;

  .sat-secondary {
    display: flex;
    justify-content: space-between;
    border-radius: variables.$bento-border-radius;
    padding: 1.5rem calc(1.5rem - variables.$thin-scrollbar-width) 1.5rem 1.5rem;

    .name {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }

  .focus {
    background-color: variables.$dashboard-bg-highlight;
  }
}

.measure {
  min-width: 70px;

  .label {
    font-size: 0.8rem;
    margin-bottom: 5px;
    opacity: 0.7;
  }

  .value {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .unit {
    font-size: 0.7rem;
  }

  &.minified {
    .label {
      font-size: 0.75rem;
      margin-bottom: 2px;
    }

    .value {
      font-size: 0.9rem;
    }
  }
}

.observer-input {
  display: flex;
  gap: variables.$bento-gap;
  width: 100%;
  background-color: variables.$dashboard-bg-highlight;
  border-radius: variables.$bento-border-radius;

  .number-input {
    width: 0;
    flex: 1;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: variables.$bento-border-radius;
  }

  label {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.7;
  }

  input {
    color: inherit;
    border: none;
    outline: none;
    width: auto;
    background: none;
    font-weight: 900;
    font-size: 1.2rem;
  }

  .observer-button {
    @include common.place-center;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    border: none;
    outline: none;
    border-radius: variables.$bento-border-radius;
    background-color: variables.$dashboard-bg-accent;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.05);

    label {
      font-weight: 900;
      color: inherit;
    }
  }
}
