// variables (e.g. colors, breaking-points)
@use "variables";

// common scss styles (e.g. .bold, .centered)
@use "utilities";

// common styles (e.g. absolute-positioning, animations)
@use "common";

// common components styles (e.g. dashboard-panel)
@use "components";

#app {
  @include common.full-screen-width-height;
  position: relative;
}

#cesium-view {
  @include common.full-width-height;
  position: absolute;
}

#sat-list {
  @include components.float-panel-left;
  height: 100%;
  width: 380px;

  .content {
    @include components.dashboard-panel;
    width: 100%;
    height: 100%;
  }
}

#sat-detail {
  @include components.float-panel-right;
  height: 100%;
  width: 380px;

  .content {
    @include components.dashboard-panel;
    width: 100%;
    min-height: 60%;
  }
}
