// variables (e.g. colors, breaking-points)
@use "variables";

// primitive styles (e.g. .bold, .centered)
@use "utilities";

// commonn styles (e.g. dashboard-panel)
@use "mixins";

#app {
  @include mixins.full-screen-width-height;
  position: relative;
}

#sat-main-view {
  position: absolute;
  inset: 0 0 0 0;

  #cesium-view {
    @include mixins.full-width-height;
  }
}

#sat-timetable {
  @include mixins.float-panel-left;
  height: 100%;

  .sat-primary-list {
    .sat-primary {
      display: flex;
      justify-content: space-between;
      border-radius: variables.$bento-border-radius;
      background-color: variables.$dashboard-bg-color;
      padding: 1.5rem;
      cursor: pointer;

      .name {
        font-size: 1.1rem;
        font-weight: bold;
        min-width: 80px;
      }

      &:hover {
        background-color: variables.$dashboard-bg-highlight;
      }
    }

    .focus {
      background-color: variables.$dashboard-bg-highlight;
    }
  }

  .sat-secondary-list {
    height: 100%;
    overflow-y: auto;

    .sat-secondary {
      display: flex;
      justify-content: space-between;
      border-radius: variables.$bento-border-radius;
      background-color: variables.$dashboard-bg-color;
      padding: 1.5rem 2.1rem 1.5rem 1.5rem;
      cursor: pointer;

      .name {
        font-size: 0.9rem;
        font-weight: bold;
      }

      &:hover {
        background-color: variables.$dashboard-bg-highlight;
      }
    }

    .focus {
      background-color: variables.$dashboard-bg-highlight;
    }
  }
}

#sat-live-detail {
  @include mixins.float-panel-right;
  height: auto;

  #cesium-minimap-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: variables.$bento-border-radius;
    overflow: hidden;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);

    #cesium-minimap-view {
      position: absolute;
      inset: 0 0 0 0;
    }

    #cesium-minimap-north-pointer {
      position: absolute;
      z-index: 99;
      top: 6px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.9rem;
      padding: 0.3rem 0.4rem;
      border-radius: 5px;
      background-color: variables.$space-black;
      box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1);
      opacity: 0.8;
    }
  }
}

.panel-content {
  display: flex;
  flex-direction: column;
  gap: variables.$bento-gap;
  height: 100%;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1);

  .panel-content-item {
    background-color: variables.$dashboard-bg-color;
    border-radius: variables.$bento-border-radius;
    overflow: hidden;

    .panel-content-title {
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .second-title {
        font-weight: 400;
        min-width: 70px;
        font-size: 0.8rem;
        opacity: 0.7;
        padding-right: 1.2rem;
      }
    }

    &.max-height {
      flex: 1;
      overflow-y: hidden;
    }
  }
}

.measure {
  min-width: 70px;

  .label {
    font-size: 0.8rem;
    margin-bottom: 5px;
    opacity: 0.7;
  }

  .value {
    font-size: 1.1rem;
    font-weight: 600;

    &.highlight {
      color: #2dd4bf;
    }
  }

  .unit {
    font-size: 0.8rem;
  }

  &.minified {
    .label {
      font-size: 0.75rem;
      margin-bottom: 2px;
    }

    .value {
      font-size: 0.9rem;
    }
  }
}

.observer-input {
  display: flex;
  gap: variables.$bento-gap;
  width: 100%;
  background-color: variables.$dashboard-bg-highlight;
  border-radius: variables.$bento-border-radius;

  .number-input {
    width: 0;
    flex: 1;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    opacity: 0.7;
  }

  input {
    color: inherit;
    border: none;
    outline: none;
    width: auto;
    background: none;
    font-weight: 900;
    font-size: 1.2rem;
    max-width: 60px;
    cursor: pointer;
  }

  .observer-button {
    @include mixins.place-center;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    border: none;
    outline: none;
    border-radius: variables.$bento-border-radius;
    background-color: variables.$dashboard-bg-accent;
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.05);
    cursor: pointer;

    p {
      font-weight: 900;
      margin-bottom: 0rem;
    }
  }
}

.tab-header {
  display: flex;
  position: relative;

  .tab-button {
    flex: 1;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    padding: 0.6rem 0;
    background-color: variables.$dashboard-bg-color;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    z-index: 2;
    cursor: pointer;

    &.selected {
      background-color: variables.$dashboard-bg-highlight;
      font-weight: 900;
    }

    // right-side neighbour tab button
    &.selected + .tab-button {
      border-bottom-left-radius: 0.8rem;
    }

    // left-side neighbour tab button
    &:has(+ .selected) {
      border-bottom-right-radius: 0.8rem;
    }

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      color: #f4f4f555;
    }
  }

  .background-piece {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: variables.$dashboard-bg-highlight;
    height: 0.6rem;
  }
}

.tab-body {
  padding: 2rem;
  background-color: variables.$dashboard-bg-highlight;
  border-radius: variables.$bento-border-radius;

  &.round-left {
    border-top-left-radius: variables.$bento-border-radius;
    border-top-right-radius: 0;
  }

  &.round-right {
    border-top-left-radius: 0;
    border-top-right-radius: variables.$bento-border-radius;
  }

  .tab-body-page {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .content {
      display: flex;
      justify-content: space-between;
    }
  }
}
