:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #f4f4f5;
  background-color: #18181b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #fafafa33 transparent;
}

/* The total width of the scrollbar area */
::-webkit-scrollbar {
  width: 6px; /* Vertical scrollbar width */
  height: 6px; /* Horizontal scrollbar height */
}

/* The background "track" (invisible) */
::-webkit-scrollbar-track {
  background: transparent;
}

p,
h1,
h2,
h3,
h4 {
  margin: 6px 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.cesium-viewer .cesium-widget-credits {
  /* position: absolute !important;
  bottom: 5px !important;
  right: 20px !important;
  left: auto !important; */
  opacity: 0;
}
